---

const navItems = [
  {
    title: "Inicio",
    label: "inicio",
    url: "/#inicio",
  },
  {
    title: "Equipos",
    label: "equipos",
    url: "/#equipos",
  },
  {
    title: "Noticias",
    label: "noticias",
    url: "/#noticias",
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "rafabasanta@hotmail.com",
  },
]
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-green-500 dark:hover:text-green-500"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>