---
import SocialPill from "../components/SocialPill.astro"
import MailIcon from "../assets/Mail.astro"
import InstagramIcon from "../assets/Mail.astro"
---

<div class="max-w-xl">
    <div class="flex gap-4 mb-4">
      <img
        class="rounded-full shadow-lg size-25"
        src="../src/assets/LogoCalasanz.png"
        alt=""
      />
      <a
        href="https://www.linkedin.com/in/rafael-basanta-gonz%C3%A1lez-755b092a6/"
        target="_blank"
        rel="noopener"
        class="flex items-center transition md:justify-center md:hover:scale-105"
      >
      </a>
    </div>
    <h1
      class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
      Club deportivo Calasanz
    </h1>
    <p
      class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
    >
      +4 a침os de experiencia. <strong
        >Desarrollador Full-Stack</strong
      > residente en Santander, Espa침a. Especializado en el dise침o, desarrollo y mantenimiento de aplicaciones y sitios web. 
    </p>
    <nav class="flex flex-wrap gap-4 mt-8">
      <SocialPill href="mailto:miduga@gmail.com">
        <MailIcon class="size-4" />
        Cont치ctanos
      </SocialPill>
      <SocialPill href="https://www.linkedin.com/in/rafael-basanta-gonz%C3%A1lez-755b092a6/">
        <InstagramIcon class="size-4" />
        Instagram
      </SocialPill>
    </nav>
  </div>